@import "ui-variables";

.tree-view {
    padding:              0;
    font-size:            @font-size;
    background:           @tree-view-background-color;

    .entry:before {
        background:       transparent;
    }
    .entry.selected:before {
        background-color: @accent-color-subtle;
    }
    .file.selected .name,
    .list-nested-item.selected > .header {
        color:            @text-color-highlight !important;
        font-weight:      500 !important;
    }

    .project-root > .header.list-item {
        position:         relative;
        line-height:      @tab-height - 2*@tab-indicator-size;
        height:           @tree-view-tab-height;
        border:           @tree-view-tab-indicator-size solid #119;
        background:       @tree-view-tab-background-color;

        &::before {
            visibility:   hidden;
        }
    }
    .project-root > .entries.list-tree {
        margin:           10px 0;
    }
  }

// gutter divider for left or right positioned tree view
.left .tree-view-scroller {
    &::after {
        content:          '';
        position:         absolute;
        top:              0;
        right:            0;
        bottom:           0;
        width:            1px;
        background:       @tree-view-background-color;
    }
}
.right .tree-view-scroller {
    &::after {
        content:          '';
        position:         absolute;
        top:              0;
        left:             0;
        bottom:           0;
        width:            1px;
        background:       @tree-view-background-color;
    }
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width:            10px;
    }
}
